// Fuentes
$fuentePrincipal: 'Roboto', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primario: #4b4083;
$secundario: #cfcf60;
$negro: #000;
$blanco: #FFFFFF;
$gris: #f5f5f5;